*{
        margin: 0;
        paddin: 0;

}
body{
        background-color: #e2e2e2;
}
a:link, a:visited{
        text-decoration: none;
        color: black;
}
#picture{
        text-align: center;
        margin-top: 10vh;
}
#photo{
        width: 500px;
        height: auto;
}
#menu{
        margin: 0;
        text-align: center;
        margin-top: 12vh;
}
#menu ul{
        margin: 0;
        padding: 0;
        list-style-type: none;         
}
#menu ul li{
        display: inline;
        margin: 15px;
        font-family: 'Source Code Pro', monospace;
}
